# Ignore everything
*

# But not these files...
!.gitignore
!D0_Manuscript.pdf
!D0_Manuscript.Rmd
!M.Sc._Defense.pdf
!M.Sc._Defense.Rmd
!Y - Codes/*.R
!Y - Codes/*/*.R
!Thesis.bib
!MSc_Style.tex
!ISEMPoster.pdf
!ISEMTalk.Rmd
!ISEMTalk.pdf

# ...even if they are in subdirectories
!*/
!*/*/
!*/*/*/


.Rproj.user
